* {
   margin: 0%;
}
#scale-1 {
    background-color: #ec1d26;
}
#scale-2{
    background-color: #d75637;
}

#scale-3 {
    background-color:#f36525 ;
}

#scale-4 {
    background-color:#f2dc3d ;
}

#scale-5 {
    background-color: #a7d53b ;
}

#scale-6 {
    background-color: #62bc45;
}

#scale-7 {
    background-color: #42b84a ;
}

#scale-8 {
    background-color: #18b36a;
}

#scale-9 {
    background-color:#10b8ba ;
}

#scale-10 {
    background-color: #2480c3;
}

#scale-11 {
    background-color:#1e6bb3;
}
#scale-12 {
    background-color:#3652a3 ;
}
#scale-13 {
    background-color:#623f98 ;
}
#scale-14 {
    background-color:#6f3996 ;
}
